/* ProgressBar.module.css */

.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
}

.percent {
    display: none;
    font-size: 12px;
    font-weight: 600;
    color: #121417;
}

.insideText {
    font-size: 12px;
    font-weight: 600;
    fill: #121417;
}

.circle {
    width: 44px;
    height: 44px;
}

.circle circle:nth-child(2) {
    transition: stroke-dashoffset 0.5s ease;
}

@media (min-width: 768px) {
    .percent {
        display: block;
    }
}