/* EditWordModal.module.css */

.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(18, 20, 23, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    animation: fadeIn 0.2s ease-in-out;
}

.modal {
    position: relative;
    background: var(--green);
    border-radius: 15px;
    padding: 52.5px 16px 48px 16px;
    width: 100%;
    max-width: 342px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    animation: slideUp 0.25s ease-out;
}

.modal form {
    display: flex;
    flex-direction: column;

}

.modal input,
.modal select {
    padding: 10px 12px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    font-size: 16px;
    color: var(--white);
    outline: none;
    transition: border 0.2s, background-color 0.2s, color 0.2s;
}

.modal input:hover,
.modal select:hover,
.modal input:focus,
.modal select:focus {
    background-color: var(--white);
    color: var(--black);
}

.modal .buttons {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.modal .buttonSave {
    background: var(--white);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    border-radius: 30px;
    padding-block: 12px;
    padding-inline: 60px;
    max-width: 158px;
    height: 48px;
    line-height: 1.5;
    color: var(--black);
    transition: color 0.2s;
}

.modal .buttonSave:hover {
    color: var(--green);
}

.modal .buttonCancel {
    border: 1px solid rgba(252, 252, 252, 0.4);
    border-radius: 30px;
    padding-block: 12px;
    padding-inline: 45px;
    max-width: 145px;
    height: 48px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white);
    transition: background 0.2s, color 0.2s;
}

.modal .buttonCancel:hover {
    background: var(--white);
    color: var(--black);
}

.modal .closeBtn {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    padding: 4px;
    cursor: pointer;
}

.modal .closeBtn svg {
    display: block;
    width: 24px;
    height: 24px;
    fill: var(--white);
    transition: fill 0.2s;
}

.inputWithFlag {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.flagWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.flagWrapper p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: var(--white);
    margin: 16px 0 8px;
}

.inputError {
    border-radius: 8px;
    padding: 10px 12px;
    width: 100%;
    box-sizing: border-box;
}

.modal input.inputError {
    border: 1px solid #d80027;
}

.error {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #d80027;
    margin-top: 4px;
}

.inputWithFlag input.inputError {
    flex: 1;
    min-width: 0;
}

@media (min-width: 768px) {
    .inputWithFlag {
        margin-bottom: 18px;
    }

    .inputWithFlag:last-child {
        margin-bottom: 0;
    }

    .modal {
        padding: 48px 64px;
        max-width: 622px;
    }

    .modal input {
        height: 56px;
    }


    .inputWithFlag {
        flex-direction: row;
        align-items: center;
        gap: 32px;
    }

    .inputWithFlag input {
        flex: 1;
        min-width: 0;
        height: 56px;
    }

    .flagWrapper {
        order: 2;
        min-width: 140px;
    }

    .modal .buttons {
        gap: 10px;
        width: 100%;
    }

    .modal .buttonSave,
    .modal .buttonCancel {
        width: 100%;
        max-width: 245px;
        height: 56px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}