/* app/(auth routes)/sign-in/Login.module.css */
.card {
    width: 100%;
    max-width: 343px;
    padding: 16px;
    background-color: rgba(133, 170, 159, 0.1);
    border-radius: 16px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #121417;
}

.text {
    font-size: 14px;
    color: #8a8d91;
    margin-bottom: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.field {
    position: relative;
    display: flex;
    flex-direction: column;
}

.passwordField {
    position: relative;
}

.input {
    height: 56px;
    padding: 16px 18px;
    padding-right: 40px;
    width: 100%;
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 15px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
    background-color: rgba(133, 170, 159, 0.1);
}

.input:focus {
    border-color: #85aa9f;
}

.button {
    height: 48px;
    margin-top: 8px;
    border-radius: 999px;
    border: none;
    background-color: #85aa9f;
    color: #fff;
    font-weight: 600;
    transition: 0.2s;
    margin-bottom: 16px;
}

.button:hover {
    background-color: #6f9c91;
}

.link {
    display: flex;
    justify-content: center;
    color: #85aa9f;
    text-decoration: underline;
}

.link:hover {
    color: #121417;
}

input.inputError {
    border: 1px solid #d80027;
}

.error {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #d80027;
    margin-top: 4px;
}

.togglePassword {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.togglePassword svg {
    width: 20px;
    height: 20px;
    color: #121417;
}

@media (min-width: 768px) {
    .card {
        max-width: 420px;
        padding: 32px;
    }

    .title {
        font-size: 28px;
    }
}