 /* app/(private routes)/recommend/Recommend.module.css */

 .dashboardWrapper {
     margin-top: 32px;
 }

 .paginationWrapper {
     display: flex;
     justify-content: center;
     margin-top: 32px;
 }

 .studyText {
     padding-block: 40px 8px;
     font-family: var(--font-family);
     font-weight: 500;
     font-size: 14px;
     color: rgba(18, 20, 23, 0.5);
 }

 .studyNumber {
     font-family: var(--font-family);
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     color: var(--black);
 }

 .trainButton {
     font-family: var(--font-family);
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     color: var(--black);
     display: inline-flex;
     align-items: center;
     gap: 8px;
     text-decoration: none;
     cursor: pointer;
     margin-bottom: 32px;
 }

 .trainArrow {
     color: var(--green);
     font-weight: 600;
     font-size: 16px;
     transition: transform 0.2s;
 }

 .wordsTableWrapper button:disabled {
     color: rgba(18, 20, 23, 0.5);
     cursor: not-allowed;
 }

 .wordsTableWrapper button:disabled .arrow,
 .wordsTableWrapper button:disabled .tick {
     color: rgba(18, 20, 23, 0.5);
 }

 .wordsTableWrapper button:disabled .addText {
     color: rgba(18, 20, 23, 0.5);
 }

 @media (min-width: 768px) {

     .counterWrapper {
         display: flex;
         flex-direction: row;
         padding: 28px;
     }

     .studyText,
     .studyNumber {
         padding: 0 16px 0 0;
     }

     .trainButton {
         margin: 0;
     }

     .dashboardWrapper {
         padding-top: 80px;
     }

 }

 @media (min-width: 1440px) {

     .dashboardWrapper {
         margin-bottom: 24px;
     }

     .wordsTableWrapper {
         margin-bottom: 24px;
     }

     .counterFunctionWrapper {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
     }

     .counterWrapper {
         display: flex;
         align-items: end;
     }

 }